@import"https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto+Condensed&display=swap";
body{
    background-image:url("../img/logo.png");
    background-position:top right;
    background-repeat:no-repeat;
    background-size:2.5vw;
    border:none;
    font-family:"Roboto Condensed",sans-serif;
    margin:0;
    overflow:hidden;
    padding:0
}
.character-selection{background-color:#2f2f2f;
    bottom:0;
    color:#fff;
    display:block;
    height:100vh;
    left:0;
    padding:0 1vw;
    position:absolute;
    top:0;
    width:18vw
}
.character-selection h1{
    font-family:"Lalezar",cursive;
    font-size:5vh;
    font-weight:normal;
    height:10vh;
    line-height:10vh;
    margin:0;
    text-align:left;
    width:18vw
}
.character-selection .characters{
    background-color:#222;
    border:1px solid #414141;
    height:80vh;
    margin:0;
    overflow:auto;
    overflow-x:hidden;
    padding:0;
    position:relative;
    width:18vw
}
.character-selection .characters .character-wrapper,.character-selection .characters .character-create-wrapper{
    cursor:pointer;
    padding:0 2vh 2vh
}
.character-selection .characters .character-wrapper .character,.character-selection .characters .character-create-wrapper .character{border-top:1px solid #414141;padding-top:2vh}.character-selection .characters .character-wrapper .character h2,.character-selection .characters .character-create-wrapper .character h2{font-family:"Lalezar",cursive;font-size:2vh;font-weight:normal;margin:0}.character-selection .characters .character-wrapper .character span,.character-selection .characters .character-create-wrapper .character span{display:inline-block;font-size:1.5vh;margin:0;padding:0 0 .5vh}.character-selection .characters .character-wrapper .character span:nth-child(3),.character-selection .characters .character-create-wrapper .character span:nth-child(3){float:right}.character-selection .characters .character-wrapper .create,.character-selection .characters .character-create-wrapper .create{padding-top:2vh;text-align:center}.character-selection .characters .character-wrapper .create h2,.character-selection .characters .character-create-wrapper .create h2{font-family:"Lalezar",cursive;font-size:2vh;font-weight:normal;margin:0}.character-selection .characters .character-wrapper.selected,.character-selection .characters .character-create-wrapper.selected{background-color:#33658a}.character-selection .buttons{align-items:center;display:flex;height:10vh;justify-content:space-evenly;position:absolute;text-align:center;width:18vw}.character-selection .buttons button{border:none;cursor:pointer;font-family:"Lalezar",cursive;font-size:2vh;margin:0;padding:1vh;text-transform:uppercase}.character-selection .buttons button.play{background-color:#375a7f;color:#fff}.character-selection .buttons button.delete{background-color:#e74c3c;color:#fff}.character-selection .buttons button.create{background-color:#3ce74c;color:#fff}.exit-button{bottom:0;padding:.5vh;position:absolute;right:0}.exit-button button{border:none;cursor:pointer;font-family:"Lalezar",cursive;font-size:2vh;margin:0;padding:1vh;text-transform:uppercase}.exit-button button.exit{background-color:#e74c3c;color:#fff}.hidden{display:none}.alert{width:18vw;height:18vh;padding:1vh 1vw;margin:40vh 40vw;background-color:#2f2f2f;color:#fff;z-index:100;position:absolute}.alert h2{padding:0;margin:0;font-size:4vh;font-family:"Lalezar",cursive}.alert p{font-size:2vh;padding:0;margin:0 0 2vh}.alert .buttons{align-items:center;display:flex;height:4vh;justify-content:space-evenly;position:absolute;text-align:center;width:18vw;bottom:2vh}.alert .buttons button{border:none;cursor:pointer;font-family:"Lalezar",cursive;font-size:2vh;margin:0;padding:1vh;text-transform:uppercase}.alert .buttons button.yes{background-color:#3ce74c;color:#fff}.alert .buttons button.no{
    background-color:#e74c3c;
    color:#fff;
}/*# sourceMappingURL=characterSelection.css.map */
