# This is the only place you need to set up a sql connection. Hallelujah
set mysql_connection_string "server=127.0.0.1;database=essentialmode;uid=gta;password=gta" 

set es_permissionDenied "Pesky rat! You don't have permission for this!!"
set es_startingCash 500
set es_startingBank 1000
set es_enableRankDecorators 1
set es_moneyIcon "$"
set es_nativeMoneySystem 1
set es_commandDelimeter "/"
set es_enableLogging 1
set es_enableCustomData 1
set es_enable_metrics 0

set steam_webApiKey "INSERT WEB API KEY"
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

endpoint_add_tcp "0.0.0.0:32066" 
endpoint_add_udp "0.0.0.0:32066" 

sv_maxclients 32

set dev_server 1

set sv_licenseKey sufpucbe5fgon1ibrl3q5l9qs1b9ppfk
#set onesync_enabled 1

# These resources will start by default.
#--------------------------------------------
    start mapmanager
    start chat
    start spawnmanager
    start sessionmanager
    start fivem
    start hardcap
    start rconlog
    #start scoreboard
    #start playernames
    
    #start connectqueue
    #start tokovoip_script

    start mysql-async

#### ESSENTIAL MODS
    start essentialmode
    start esplugin_mysql
    start es_admin2
    start es_extended

#### ESX REQUIRED MODS    
    start instance
    start cron
    start async

    start esx_skin    
    start esx_menu_default
    start esx_menu_list
    start esx_menu_dialog

    start gcphone
    start esx_addons_gcphone
    start esx_addonaccount
    start esx_addoninventory
    start esx_datastore
    start esx_society
    start esx_service
    start esx_billing
    
#### ESX JOBS
    start esx_jobs
    start esx_joblisting
    start esx_taxijob
    start esx_mechanicjob
    start esx_policejob
    start esx_property
    start esx_realestateagentjob
    start esx_ambulancejob
    start esx_vehicleshop        
        
#### ESX ANY OTHER MODS
    start esx_status
    start esx_basicneeds
    start esx_clotheshop
    start esx_garage
    start esx_holdup
    start esx_drugs

    start esx_identity
    start esx_kashacters
    start esx_accessories
    start esx_animations
    #start esx_atm
    start esx_barbershop
    start esx_cruisecontrol
    start esx_license
    start esx_lscustom
    start esx_optionalneeds    
    #start esx_shops
    start esx_sit
    start esx_banking
    start esx_doorlock
    start esx_knatusblowtorch
    start mhacking
    start esx_knatusrobberybank
    start esx_inventoryhud
    start esx_inventoryhud_trunk
    start 99kr-shops
    start mythic_notify
    start mythic_hospital
    start esx_marker
    start esx_drugeffects
    start esx_securitycam
    start esx_carwash
    start esx-blarglebus
    start esx_garbagecrew
    start tokovoip_script
    start esx-radios


	#start jsfour-idcard
	start esx-kr-vehicle-push
	start taxi_meter

	start esx_tattooshop
	start esx_aircraftshop
	start esx_boatshop

# IPL based mods including maps	
#--------------------------------------------	
	start bob74_ipl
	start VK_main
	start VK_interiors

	start pillbox
	start BurgerShot
	start MissionRow
	start nw_bahamaMama
	start comedyClub
	start Gym
	start phxlsmc
	start SLBK11_MissionRow
	start lspdloader
	#start coffe_policestation
	start movepole
	start ImprovedFireStation
	

# QOL Mods
#--------------------------------------------	
	start z-loadscreen
	start streetLabel
	start pNotify
	start RealisticVehicleFailure
	start fingerpoint
	start JF_SeatShuffle
	start Calm-AI
	start crouch-n-prone
	start trafficadjuster
	start liveries
	start SemArmasReward
	start DisableWanted
	start NerfWeaponDrops
	start Weaponry
	start 3dme
	start fivem-seatbelt
	start vehicle_control
	start drag
	start tab
	start bed
	start progressBars
	start dance
	start RemovePedsFromAreas
	start chroma-car
	start VehicleExtraMenu
	start VisualSettings
	#start lux_vehcontrol
	start hypr9stun
	start timedate
	start lesslethal_shotgun
	start mythic_progbar
	start VK_handsup
	start LegacyFuel
	start cashdisplay
	
# Radio mods
#--------------------------------------------	
	# start Hud
	# start radio
	
# EMS
#--------------------------------------------	
	start Ambo
	start emsfpiu
	#start Defender
	start BloodDrive
	start corexpress
	start EMSBox
	start EMSGV
	start EMSExplorer
	
# Police
#--------------------------------------------	
	start wk_wrs
	start pdpack

	#start leobicycle
	#start 2015polstang
	#start beast
	#start cvpi
	#start oracle
	#start pdchallenger
	#start policeb
	#start policecart
	#start polsadrt
	#start sherifftruck
	start qalle_policearmory
	start qalle_coords

# civilian
#--------------------------------------------	
	start 300zx

	
# Patreon
#--------------------------------------------	
	start 2015_Mustang_GT
	start 2016_Mercedes_AMG_GT
	start Audi_C7_RS6
	start Lexus_RC350
	start Nissan_GTR
	start Nissan_GTR_R32_RB
	start Toyota_Supra
	start HD_Fatboy
	start Nissan_180sx
	start Skyline
	start Subaru_WRX
	start Yamaha_YZF_R6
	

# Custom mods
#---------------------------------

	start CarCommand

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password "ZPdQAIjVYyesqwJkObmMxDNrcH629gf5Gz"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "The Crew RP - local"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon bunny.png

# convars which can be used in scripts
#set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000102b5c8b8 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

restart sessionmanager

# To be tested

start 99kr-burglary
start qalle-wheelchair
start esx_vigneronjob
start CarryPeople
start esx-qalle-jail
start prison-map-addon
start ESX_CommunityService

start trailersmall
start esx_jb_trailer

start esx_advancedgarage

start esx_CivAutoRepair

##PROPS##
#start cassino_props

##INTERIORES##

#start vwdlc_int_01
#start vwdlc_int_02
#start simpletp-bySimpleX

##EXTERIOR##

#start ch3_additions
#start ch3_04
#start ch3_08
#start ch3_12
#start ch3_lod
#start ch3_occl
#start ch3_rd1a
#start cityhills_03
#start cityhills_03_metadata