/* 
.quicktimebar{
    display: none;
    position: absolute;
    background-color:lightgrey;
    
    color: white;
    width: 150px;
}
.quicktimeprog{
    display: none;
    position: relative;
    background-color: greenyellow;
    opacity: 80%;
    color: white;
    margin: 0em;
    padding: 0em;

} */

#quicktimeprog {
    display: none;
    position: absolute;
    width: 1%;
    background-color:#FF5F00;
    height: 30px;
    opacity: 100%;
    border-radius:2%;
  }

  #quicktimebar{
    display: none;
    left: 45%;
    bottom: 175px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: black;
    border: black;
    border-width: medium;
    padding: .15em;
    border-radius: 2%;
  }
  #quicktimegoal{
    width: 15%;
    background-color: white;
    display: none;
    position: relative;
    height: 30px;
    left:40%;
    opacity: 100%;
    color: #FF5F00;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }