/* 
.quicktimebar{
    display: none;
    position: absolute;
    background-color:lightgrey;
    
    color: white;
    width: 150px;
}
.quicktimeprog{
    display: none;
    position: relative;
    background-color: greenyellow;
    opacity: 80%;
    color: white;
    margin: 0em;
    padding: 0em;

} */

#quicktimeprog {
    display: none;
    position: relative;
    width: 1%;
    background-color: darkgreen;
    height: 30px;
    opacity: 80%;
  }
  
  #quicktimebar{
    opacity: 80%;
    display: none;
    left: 45%;
    bottom: 175px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: thin;
  }