#quicktimeprog {
    display: none;
    position: absolute;
    width: 1%;
    background-color:#FF5F00;
    height: 30px;
    opacity: 100%;
    border-radius:3%;
  }

#quicktimeprog {
    display: none;
    position: relative;
    width: 1%;
    background-color: greenyellow;
    height: 30px;
    opacity: 80%;
  }
  
  #quicktimebar{
    opacity: 80%;
    background-color: black;
    border: black;
    border-width: medium;
    padding: .15em;
    border-radius: 3%;
  }
  #quicktimegoal{
    width: 15%;
    background-color: white;
    display: none;
    position: relative;
    height: 30px;
    left:40%;
    opacity: 80%;
    color: #0e0e52;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }